@{
  Layout = "_Layout";
}

<h2>Authentification with Identity</h2>
<hr />

@if (User.Identity.IsAuthenticated)
{
  <p>Hello @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn btn-primary" value="Log Out" />
  }
}
else
{
  <p>@Html.ActionLink("Register", "Register")</p>
  <p>@Html.ActionLink("Log In", "Login")</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>